version: '3.8'
services:
  mailserver:
    image: docker.io/mailserver/docker-mailserver:latest
    container_name: mailserver
    hostname: mail
    domainname: cos.lan

    ports:
      - "25:25"
      - "143:143"
      - "587:587"
      - "993:993"

    volumes:
      - ./docker-data/dms/mail-data/:/var/mail/
      - ./docker-data/dms/mail-state/:/var/mail-state/
      - ./docker-data/dms/mail-logs/:/var/log/mail/
      - ./docker-data/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro

    environment:
      #- LDAP_START_TLS=yes
      #- SASLAUTHD_LDAP_START_TLS=yes
      #- DOVECOT_TLS=yes
      
      
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=1
      - ENABLE_FAIL2BAN=0
      - ENABLE_POSTGREY=0

      # >>> Postfix LDAP Integration
      - ENABLE_LDAP=1
      - LDAP_SERVER_HOST=dc1.cos.lan
      - LDAP_BIND_DN=cn={{smb_username}},cn=users,dc=cos,dc=lan
      - LDAP_BIND_PW={{smb_password}}
      - LDAP_SEARCH_BASE=cn=users,dc=cos,dc=lan
      - LDAP_QUERY_FILTER_DOMAIN=(mail=*@%s)
      - LDAP_QUERY_FILTER_USER=(&(objectclass=person)(mail=%s))
      - LDAP_QUERY_FILTER_ALIAS=(&(objectclass=person)(proxyAddresses=smtp:%s))
      - LDAP_QUERY_FILTER_GROUP=(&(objectClass=group)(mail=%s))
      - LDAP_QUERY_FILTER_SENDERS=(|(mail=%s)(proxyAddresses=smtp:%s)(memberOf=cn=Domain Admins,cn=Users,dc=COS,dc=LAN))
      - SPOOF_PROTECTION=0
      # <<< Postfix LDAP Integration

      # >>> Dovecot LDAP Integration
      - DOVECOT_AUTH_BIND=yes
      - DOVECOT_USER_FILTER=(&(objectclass=person)(sAMAccountName=%n))
      - DOVECOT_PASS_ATTRS=uid=user,userPassword=password
      - DOVECOT_USER_ATTRS==uid=5000,=gid=5000,=home=/var/mail/%Ln,=mail=maildir:~/Maildir
      # <<< Dovecot LDAP Integration

      # >>> SASL LDAP Authentication
      - ENABLE_SASLAUTHD=0
      - SASLAUTHD_MECHANISMS=ldap
      - SASLAUTHD_LDAP_FILTER=(&(sAMAccountName=%U)(objectClass=person))
      # <<< SASL LDAP Authentication

      - ONE_DIR=1
      - DMS_DEBUG=0
      #- SSL_TYPE=letsencrypt
      - PERMIT_DOCKER=host

    cap_add:
      - NET_ADMIN
    labels:
      - traefik.enable=false
  roundcube:
    image: roundcube/roundcubemail
    hostname: roundcube
    environment:
      - ROUNDCUBEMAIL_SMTP_SERVER=mail
      - ROUNDCUBEMAIL_SMTP_PORT=25
      - ROUNDCUBEMAIL_DEFAULT_HOST=mail
    networks:
      - traefik
    labels:
      - "traefik.frontend.rule=Host:mail.cos.lan"
      - "traefik.port=80"
    expose:
      - "80"
    volumes:
      - './roundcube.config.docker.inc.php:/var/www/html/config/config.docker.inc.php:ro'
networks:
  traefik:
    external:
      name: traefik_webgateway
      
      

