# Global parameters
[global]
	dns forwarder = {{smb_dns_forwarder}}
	netbios name = {{smb_hostname}}
	realm = {{smb_realm}}
	server role = active directory domain controller
	workgroup = {{smb_workgroup}}
	idmap_ldb:use rfc2307 = yes
	ldap server require strong auth = no
[sysvol]
	path = /var/lib/samba/sysvol
	read only = No
[netlogon]
	path = /var/lib/samba/sysvol/cos.lan/scripts
	read only = No
